.container {
    width: 90%;
    margin: 60px auto;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #c4c4c4;
    border-radius: 4px;
    box-shadow: rgba(87, 161, 248, 0.4) -5px 5px, rgba(87, 161, 248, 0.3) -10px 10px, rgba(87, 161, 248, 0.2) -15px 15px, rgba(87, 161, 248, 0.1) -20px 20px, rgba(87, 161, 248, 0.05) -25px 25px;
    position: relative;
}

.title {
    color: #57a1f8;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    margin-bottom: 20px;
}

.searchGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    column-gap: 20px;
}

.searchBtn {
    
}

.searchInput {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    /* margin-bottom: 10px; */
    box-sizing: border-box;
    font-family: montserrat;
    color: #000;
    font-size: 14px;
}

.searchInput:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #57a1f8;
    outline-width: 0;
    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;
}

.btnActionGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnAction {
    border: none;
    border-radius: 0px;
    background-color: #333;
    color: white;
    width: 90px;
    padding: 8px 0;
    cursor: pointer;
}


.updateUserInforModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}

.modalTitle {
    font-size: 24px;
    font-weight: 450;
    text-align: center;
    color: #57a1f8;
    margin-bottom: 30px;
}

.inputField {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #000;
    font-size: 14px;
    margin-top: 8px;
}

.inputField:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #57a1f8;
    outline-width: 0;
    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;
}

.backDashboard {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: #447ec0;
    cursor: pointer;
}

.resultModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}



.modalText {
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin-bottom: 4px;
}

.modalImg {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.resultInput {
    width: 100%;
    height: 400px;
}

.resultMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}